@import url("https://fonts.googleapis.com/css?family=Inter:400,700,500,200|Work+Sans:600|Halant:300,700|Inknut+Antiqua:700,500|Fresca:400");

:root {
    --black: 
  rgba(0, 0, 0, 1);
    --woodsmoke: 
  rgba(14, 14, 14, 1);
    --dune: 
  rgba(57, 51, 51, 1);
    --portage: 
  rgba(126, 156, 233, 1);
    --mist-gray: 
  rgba(196, 196, 196, 1);
    --soapstone: 
  rgba(255, 249, 249, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-xxxs: 11px;
    --font-size-xxs: 12px;
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 22px;
    --font-size-xl: 32px;
  
    --font-family-fresca: "Fresca";
    --font-family-halant: "Halant";
    --font-family-inknut_antiqua: "Inknut Antiqua";
    --font-family-inter: "Inter";
    --font-family-work_sans: "Work Sans";
  }
  
  
  
  .inter-bold-soapstone-20px {
    color: var(--soapstone);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .fresca-normal-soapstone-20px {
    color: var(--soapstone);
    font-family: var(--font-family-fresca);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .inter-normal-woodsmoke-20px {
    color: var(--woodsmoke);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .halant-light-black-22px {
    color: var(--black);
    font-family: var(--font-family-halant);
    font-size: var(--font-size-l);
    font-weight: 300;
    font-style: normal;
  }
  .inter-medium-white-11px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxs);
    font-weight: 500;
    font-style: normal;
  }
  .inter-extra-light-black-16px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 200;
    font-style: normal;
  }
  .inter-bold-black-32px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
  }
  .inter-normal-woodsmoke-14px {
    color: var(--woodsmoke);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  .inter-extra-light-black-20px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 200;
    font-style: normal;
  }
  .worksans-semi-bold-black-14px {
    color: var(--black);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-style: normal;
  }

.frame-1 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 677px;
  overflow: hidden;
  width: 382px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: -10px;
  min-height: 567px;
  width: 392px;
}

.ellipse-26 {
  height: 161px;
  margin-right: 9px;
  margin-top: 72px;
  object-fit: cover;
  width: 171px;
}

.overlap-group1 {
  border-radius: 10px;
  height: 36px;
  margin-right: 16px;
  margin-top: 57px;
  position: relative;
  width: 242px;
}

.next-1 {
  color: var(--white);
  font-family: var(--font-family-halant);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 93px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 3px;
}

.rectangle-42 {
  background-color: 
#817b7b;
  border-radius: 10px;
  cursor: pointer;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 242px;
}

.overlap-group {
  height: 57px;
  margin-right: 27px;
  margin-top: 31px;
  position: relative;
  width: 187px;
}

.join-now-getting-started-is-easy {
  color: 
#c8acac;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 3px;
}

.next {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-weight: 500;
  left: 33px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.adukan-kritik-dan-sa {
  color: var(--black);
  font-family: var(--font-family-halant);
  font-size: var(--font-size-l);
  font-weight: 300;
  letter-spacing: 0;
  margin-right: 16px;
  margin-top: 51px;
  min-height: 78px;
  text-align: center;
  width: 346px;
}

.overlap-group2 {
  align-items: center;
  background-color: 
#7e9ce9;
  display: flex;
  min-width: 392px;
  padding: 0 5px;
}

.bxsignal-5 {
  height: 24px;
  margin-left: 2px;
  width: 24px;
}

.vector-1 {
  height: 21px;
  margin-left: 6px;
  margin-top: 0.48px;
  width: 10px;
}

.text-1 {
  align-self: flex-start;
  color: var(--black);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xs);
  font-weight: 600;
  letter-spacing: -0.28px;
  margin-top: 4px;
  min-height: 7px;
  width: 37px;
}

.vector {
  height: 17px;
  margin-left: 263px;
  margin-top: 0.34px;
  width: 19px;
}

.ellipse-container {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-right: -344.71px;
  margin-top: 51px;
  min-width: 584px;
}

.ellipse-19 {
  align-self: flex-end;
  background-color: var(--black);
  border-radius: 9.37px/7.69px;
  height: 15px;
  width: 19px;
}

.ellipse-2 {
  align-self: flex-end;
  background-color: var(--mist-gray);
  border-radius: 9.37px/7.69px;
  height: 15px;
  margin-left: 22px;
  width: 19px;
}

.ellipse-24 {
  background-color: var(--white);
  border-radius: 8.86px/7.38px;
  height: 15px;
  margin-left: 27px;
  width: 18px;
}

.ellipse-25 {
  background-color: 
#0a0a0a;
  border-radius: 8.86px/7.38px;
  height: 15px;
  margin-left: 27px;
  width: 18px;
}

.ellipse-23 {
  background-color: 
#f7f7f7;
  border-radius: 8.86px/7.38px;
  height: 15px;
  margin-left: 377px;
  width: 18px;
}